<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>[%d] %-5p- %m%n</pattern>
<!--       <pattern>[%d] %logger{36} %-5p- %m%n</pattern> -->
    </encoder>
  </appender>

  <logger name="org.kie.server" level="INFO" />
  <logger name="org.apache.http" level="WARN" />
  <logger name="org.apache.maven" level="WARN" />
  <logger name="org.codehaus.plexus" level="WARN" />
  <logger name="io.fabric8.kubernetes.client" level="WARN" />

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>